body{
	font-family: 'Century Gothic',helvetica,verdana,arial;
	background: url("../img/w1.jpg.jsf?ln=template") no-repeat center center fixed;
	background-size: cover;
	margin:0;
}

.bottom-space {
	margin-top: 20px;
	text-align: center;
}

#bla {
	display: flex;
	justify-content: center;
	flex-direction: column;
}